###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_LED_DAC
	comment "No additional options for LED_DAC"

# 	config APPS_LED_DAC_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
